* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to bottom, #051937, #021f47, #002457, #002a67, #002f78, #2b3f89, #45509a, #5d62ab, #8886c0, #b0add5, #d8d5ea, #ffffff);
    background-repeat: no-repeat;
  }
  
  .container {
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .container-button {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 900px;
  }
  
  .main-header {
    color: #333;
    text-transform: uppercase;
  }
  
   canvas#hammerhead {
    margin-top: 20px;
    border: 2px solid black;
    margin: 0 auto;
  }

  .canvas-class {
    margin-top: 20px;
    border: 2px solid black;
    margin: 0 auto;
  }
  
  h1 {
      color: white;
      text-align: center;
        font-weight: 900;
        font-size: 38px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-shadow: 2px 3px 0px #898999;
        line-height: 1.2;
  }

  h2 {
    color: white;
    text-align: center;
      font-weight: 900;
      font-size: 20px;
      margin-top: -20px;
      margin-bottom: 30px;
      margin-left: 270px;
      text-shadow: 1px 2px 0px #898999;
      line-height: 1.2;
      transform: rotate(-5deg);
}

.buttonplay {
  position: relative;
  z-index: 10;
  min-width: 300px;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #002a67;
background: linear-gradient(90deg, #002f78 0%, #3100F7 100%);
  border: none;
  border-radius: 35px;
  box-shadow: 12px 12px 24px #9fb4f2;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.buttonplay::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 3px solid black;
  box-shadow: 0 0 60px #9fb4f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.buttonplay:hover, .button:focus {
  border-radius: 50px;
  color: white;
  transform: translateY(-6px);
  background: black;
}

.buttonplay:hover::before, button:focus::before {
  opacity: 1;
}

.buttonplay::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 3px solid #3100f7;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.buttonplay:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}



  .instructions {
    margin-top: -12px;
    width: 50%;
  }


  .flo--r {
    float: right;
  }

  .flo--l {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
  }



  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .splash {
    background-image: url('../img/kepler-splash-horizontal.png');
    max-width: 100%;
    height: 500px;
    border: 2px solid black;
  }

  .game-img {
    background-image: url('');
  }

  .txta--c {
    text-align: center;
  }

